<div id="header">
    <div id="titles">
        <h1>Ƀitbar</h1>
        <h3>The Crypto-Free Crypto Currency</h3>
    </div>
    <div id="navbar" class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a class="pure-menu-link" href="/">Home</a></li>
            <li class="pure-menu-item"><a class="pure-menu-link" href="/transfer">Transfer</a></li>
            <li class="pure-menu-item"><a class="pure-menu-link" href="/close" title="Close your account">Close</a></li>
            <li class="pure-menu-item"><a class="pure-menu-link" href="/profile">Profile</a></li>
        </ul>
    </div>
</div>
