<% if(loggedIn) { %>

  <p>You have <strong><%= account.bitbars %></strong> bitbars.</p>

  <form class="pure-form pure-form-stacked" action="set_profile" method="post">
    <label for="new_profile">Your profile text</label>
    <textarea name="new_profile" rows="8" cols="50"><%= account.profile %></textarea>
    <p><input class="pure-button" type="submit" value="Update profile"></p>
  </form>

<% } else { %>

<h3>Welcome to Bitbar</h3>

<% if(errorMsg) { %>
  <p class='error'> <%= errorMsg %> </p>
<% } %>

<p>
  We are the most trusted crypto-currency on the Internet. Unlike Bitcoin
  which is unreliable due to its decentralized nature, we store all your
  valuable bits in a single secured SQLite database on our server.
  Everything is powered by Node so you know that it is safe.
  <a href="register">Sign up</a> for an account today!
</p>

<% } %>
